In [3]:
import numpy as np
import pandas as pd
import keras
import tensorflow as tf
from keras import Model
from keras.models import Sequential, load_model
from keras.layers import Dense, SimpleRNN, Dropout, GRU, Layer, Input, Convolution2D, MaxPool2D, Flatten, ConvLSTM1D
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("train.csv")
df

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(42000, 785)

In [5]:
y = df["label"] 
y = tf.keras.utils.to_categorical(y, num_classes=10, dtype='float32')
X = df.drop(columns={"label"})
X.shape

(42000, 784)

In [6]:
X = X / 255 
X

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
X = np.array(np.split(X.values, 28, axis=1))
X

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]])

In [8]:
X = X.transpose((1,0,2))

In [9]:
X.shape

(42000, 28, 28)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.25, 
                                                    train_size=0.75, random_state=262)
X_train

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]])

In [11]:
X_train.shape

(31500, 28, 28)

In [20]:
inputs = Input(shape=[28,28,1])

x0 = ConvLSTM1D(filters=32, kernel_size = 1, padding = "same", strides = 1, return_sequences=True)(inputs)
x1 = ConvLSTM1D(filters=32, kernel_size = 1, padding = "same", strides = 1, return_sequences=False)(x0)


x2 = Flatten()(x1)
x4 = Dense(40, "LeakyReLU")(x2)
x5 = Dropout(0.3)(x4)
outputs = Dense(10, activation="softmax", input_shape=[x5.shape])(x5) 

CNN = Model(inputs=inputs, outputs=outputs, name="simpleCNN")
CNN.compile(loss=["categorical_crossentropy"], optimizer="nadam", metrics=["accuracy"])
memory = CNN.fit(X_train, y_train, batch_size = 20, validation_data=(X_test, y_test), 
                 epochs=20, use_multiprocessing=True)

Epoch 1/20
1575/1575 [==============================] - 57s 35ms/step - loss: 0.5926 - accuracy: 0.8034 - val_loss: 0.2180 - val_accuracy: 0.9362
Epoch 2/20
1575/1575 [==============================] - 54s 34ms/step - loss: 0.2493 - accuracy: 0.9229 - val_loss: 0.1605 - val_accuracy: 0.9537
Epoch 3/20
1575/1575 [==============================] - 54s 34ms/step - loss: 0.1996 - accuracy: 0.9402 - val_loss: 0.1535 - val_accuracy: 0.9524
Epoch 4/20
1575/1575 [==============================] - 54s 35ms/step - loss: 0.1728 - accuracy: 0.9462 - val_loss: 0.1355 - val_accuracy: 0.9578
Epoch 5/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1540 - accuracy: 0.9519 - val_loss: 0.1234 - val_accuracy: 0.9607
Epoch 6/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1394 - accuracy: 0.9581 - val_loss: 0.1156 - val_accuracy: 0.9627
Epoch 7/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1281 - accuracy: 0.9595 - val_loss: 0.1108 - val_accuracy: 0.9663
Epoch 8/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1174 - accuracy: 0.9636 - val_loss: 0.1155 - val_accuracy: 0.9650
Epoch 9/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1111 - accuracy: 0.9643 - val_loss: 0.1163 - val_accuracy: 0.9652
Epoch 10/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.1071 - accuracy: 0.9660 - val_loss: 0.1095 - val_accuracy: 0.9673
Epoch 11/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0978 - accuracy: 0.9686 - val_loss: 0.1194 - val_accuracy: 0.9654
Epoch 12/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0939 - accuracy: 0.9687 - val_loss: 0.1040 - val_accuracy: 0.9691
Epoch 13/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0899 - accuracy: 0.9713 - val_loss: 0.0964 - val_accuracy: 0.9709
Epoch 14/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0847 - accuracy: 0.9726 - val_loss: 0.1003 - val_accuracy: 0.9707
Epoch 15/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0824 - accuracy: 0.9736 - val_loss: 0.1153 - val_accuracy: 0.9662
Epoch 16/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0750 - accuracy: 0.9743 - val_loss: 0.1096 - val_accuracy: 0.9698
Epoch 17/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0763 - accuracy: 0.9753 - val_loss: 0.1084 - val_accuracy: 0.9698
Epoch 18/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0713 - accuracy: 0.9766 - val_loss: 0.1096 - val_accuracy: 0.9705
Epoch 19/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0695 - accuracy: 0.9777 - val_loss: 0.0978 - val_accuracy: 0.9717
Epoch 20/20
1575/1575 [==============================] - 55s 35ms/step - loss: 0.0634 - accuracy: 0.9787 - val_loss: 0.1026 - val_accuracy: 0.9724

In [21]:
CNN.summary()

Model: "simpleCNN"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 28, 28, 1)]       0

 conv_lstm1d_5 (ConvLSTM1D)  (None, 28, 28, 32)        4352

 conv_lstm1d_6 (ConvLSTM1D)  (None, 28, 32)            8320

 flatten_6 (Flatten)         (None, 896)               0

 dense_14 (Dense)            (None, 40)                35880

 dropout_6 (Dropout)         (None, 40)                0

 dense_15 (Dense)            (None, 10)                410

=================================================================
Total params: 48,962
Trainable params: 48,962
Non-trainable params: 0
_________________________________________________________________

In [22]:
df1 = pd.read_csv("test.csv")
df1

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df1 = df1 / 255 
df1 = np.array(np.split(df1.values, 28, axis=1))
df1 = df1.transpose((1,0,2))
df1.shape

(28000, 28, 28)

In [26]:
df2 = pd.read_csv("sample_submission.csv", index_col="ImageId")
df2

         Label
ImageId
1            0
2            0
3            0
4            0
5            0
...        ...
27996        0
27997        0
27998        0
27999        0
28000        0

[28000 rows x 1 columns]

In [27]:
y_pred = CNN.predict(df1)
y_pred.shape

(28000, 10)

In [28]:
labels = []
for i in range(28000):
    y_pred_label = np.argmax(y_pred[i,:])
    labels.append(y_pred_label)
labels

[2,
 0,
 9,
 9,
 3,
 9,
 0,
 3,
 0,
 3,
 5,
 7,
 4,
 0,
 4,
 8,
 3,
 1,
 9,
 0,
 9,
 1,
 1,
 5,
 7,
 4,
 2,
 7,
 4,
 7,
 7,
 5,
 4,
 2,
 6,
 2,
 5,
 5,
 1,
 6,
 7,
 7,
 4,
 9,
 8,
 7,
 8,
 2,
 6,
 7,
 6,
 8,
 8,
 3,
 8,
 2,
 1,
 2,
 2,
 5,
 4,
 1,
 7,
 0,
 0,
 0,
 1,
 9,
 0,
 1,
 6,
 5,
 8,
 8,
 2,
 8,
 3,
 9,
 2,
 3,
 5,
 4,
 1,
 8,
 9,
 2,
 4,
 3,
 6,
 7,
 2,
 0,
 6,
 6,
 1,
 4,
 3,
 9,
 7,
 4,
 0,
 9,
 2,
 0,
 7,
 3,
 0,
 5,
 0,
 8,
 0,
 0,
 4,
 7,
 1,
 7,
 1,
 1,
 8,
 3,
 3,
 7,
 2,
 8,
 6,
 3,
 8,
 7,
 8,
 4,
 3,
 5,
 6,
 0,
 0,
 0,
 3,
 1,
 3,
 6,
 4,
 3,
 4,
 5,
 5,
 8,
 7,
 7,
 2,
 8,
 4,
 3,
 5,
 6,
 5,
 3,
 7,
 5,
 7,
 8,
 3,
 0,
 4,
 5,
 1,
 2,
 7,
 6,
 3,
 0,
 2,
 7,
 8,
 6,
 1,
 3,
 7,
 4,
 1,
 2,
 4,
 8,
 5,
 2,
 4,
 9,
 2,
 1,
 6,
 0,
 6,
 1,
 4,
 9,
 6,
 0,
 9,
 7,
 6,
 9,
 1,
 9,
 0,
 9,
 9,
 0,
 8,
 4,
 6,
 2,
 0,
 9,
 3,
 6,
 3,
 2,
 1,
 6,
 3,
 4,
 2,
 3,
 1,
 2,
 2,
 0,
 4,
 6,
 1,
 0,
 0,
 4,
 9,
 1,
 7,
 3,
 2,
 3,
 8,
 6,
 8,
 6,
 2,
 8,
 5,
 5,
 4,
 8,
 3,
 8,
 9,
 7,
 1,
 3,
 8,
 4,
 5,
 1,
 4,
 5,
 6,
 3,
 3,
 5,
 7,
 0,
 6,
 8,
 3,
 1,
 6,
 0,
 6,
 3,
 9,
 9,
 1,
 5,
 8,
 4,
 0,
 9,
 2,
 0,
 5,
 3,
 7,
 8,
 9,
 9,
 5,
 7,
 7,
 9,
 9,
 6,
 3,
 0,
 3,
 3,
 6,
 9,
 8,
 2,
 6,
 2,
 7,
 1,
 4,
 5,
 8,
 5,
 9,
 0,
 0,
 3,
 8,
 4,
 1,
 8,
 4,
 1,
 1,
 9,
 8,
 4,
 5,
 1,
 5,
 3,
 6,
 3,
 1,
 3,
 0,
 9,
 0,
 0,
 6,
 0,
 6,
 3,
 1,
 8,
 6,
 0,
 6,
 5,
 2,
 2,
 6,
 7,
 7,
 2,
 5,
 8,
 3,
 9,
 2,
 7,
 8,
 6,
 3,
 8,
 4,
 2,
 3,
 8,
 1,
 6,
 4,
 8,
 7,
 9,
 7,
 6,
 9,
 5,
 3,
 7,
 6,
 5,
 5,
 4,
 2,
 6,
 2,
 1,
 3,
 7,
 1,
 7,
 9,
 9,
 6,
 1,
 1,
 1,
 7,
 3,
 9,
 7,
 6,
 1,
 1,
 1,
 9,
 3,
 8,
 5,
 5,
 0,
 4,
 1,
 2,
 3,
 1,
 1,
 3,
 5,
 9,
 6,
 6,
 5,
 3,
 1,
 4,
 7,
 4,
 7,
 4,
 8,
 5,
 2,
 8,
 1,
 3,
 9,
 5,
 0,
 8,
 4,
 7,
 4,
 4,
 4,
 1,
 5,
 3,
 9,
 5,
 7,
 6,
 9,
 5,
 9,
 2,
 3,
 5,
 6,
 6,
 7,
 5,
 0,
 5,
 1,
 7,
 4,
 4,
 1,
 1,
 4,
 9,
 5,
 6,
 0,
 1,
 3,
 1,
 0,
 4,
 8,
 1,
 2,
 7,
 9,
 4,
 8,
 3,
 7,
 7,
 4,
 2,
 4,
 2,
 7,
 6,
 3,
 2,
 0,
 6,
 5,
 9,
 4,
 1,
 8,
 3,
 3,
 6,
 2,
 7,
 5,
 8,
 7,
 5,
 3,
 5,
 7,
 4,
 3,
 2,
 9,
 0,
 7,
 7,
 1,
 0,
 1,
 1,
 7,
 0,
 5,
 3,
 8,
 3,
 5,
 6,
 5,
 4,
 3,
 0,
 2,
 8,
 2,
 0,
 3,
 0,
 9,
 2,
 1,
 1,
 3,
 0,
 5,
 0,
 0,
 7,
 5,
 6,
 2,
 0,
 3,
 8,
 1,
 6,
 5,
 4,
 1,
 1,
 4,
 6,
 5,
 3,
 6,
 0,
 4,
 8,
 2,
 4,
 2,
 5,
 1,
 7,
 6,
 9,
 1,
 7,
 3,
 8,
 0,
 8,
 8,
 4,
 5,
 3,
 6,
 6,
 6,
 0,
 3,
 5,
 1,
 7,
 1,
 6,
 2,
 8,
 5,
 6,
 4,
 7,
 4,
 3,
 3,
 2,
 4,
 7,
 0,
 0,
 9,
 8,
 5,
 9,
 4,
 0,
 8,
 8,
 5,
 6,
 2,
 6,
 1,
 8,
 6,
 1,
 4,
 7,
 7,
 8,
 3,
 0,
 9,
 9,
 6,
 7,
 7,
 4,
 8,
 1,
 8,
 4,
 8,
 0,
 2,
 8,
 2,
 4,
 3,
 3,
 7,
 2,
 3,
 4,
 0,
 4,
 8,
 1,
 3,
 5,
 6,
 3,
 9,
 4,
 3,
 8,
 7,
 7,
 2,
 6,
 0,
 6,
 9,
 8,
 8,
 1,
 3,
 4,
 6,
 9,
 9,
 2,
 6,
 0,
 1,
 8,
 4,
 3,
 9,
 8,
 8,
 4,
 0,
 5,
 0,
 6,
 0,
 4,
 4,
 6,
 5,
 8,
 8,
 1,
 5,
 3,
 6,
 2,
 3,
 7,
 8,
 9,
 3,
 1,
 0,
 1,
 0,
 6,
 4,
 7,
 5,
 7,
 1,
 3,
 2,
 7,
 7,
 1,
 5,
 1,
 5,
 4,
 4,
 3,
 4,
 3,
 9,
 0,
 7,
 8,
 6,
 4,
 9,
 4,
 4,
 1,
 4,
 7,
 1,
 1,
 8,
 7,
 0,
 4,
 0,
 4,
 0,
 0,
 5,
 1,
 8,
 6,
 5,
 0,
 1,
 5,
 3,
 4,
 6,
 3,
 1,
 1,
 6,
 9,
 8,
 8,
 5,
 5,
 4,
 8,
 8,
 5,
 0,
 4,
 0,
 4,
 3,
 1,
 6,
 9,
 9,
 1,
 1,
 3,
 3,
 1,
 4,
 9,
 6,
 9,
 1,
 5,
 4,
 2,
 3,
 2,
 4,
 0,
 9,
 7,
 4,
 3,
 0,
 5,
 0,
 1,
 9,
 0,
 4,
 5,
 2,
 8,
 0,
 5,
 9,
 3,
 9,
 6,
 1,
 5,
 6,
 1,
 9,
 0,
 8,
 4,
 6,
 7,
 2,
 8,
 5,
 8,
 9,
 7,
 7,
 2,
 8,
 1,
 3,
 4,
 5,
 0,
 4,
 1,
 4,
 2,
 3,
 6,
 9,
 2,
 3,
 4,
 5,
 4,
 2,
 3,
 3,
 1,
 1,
 0,
 1,
 4,
 9,
 1,
 1,
 2,
 7,
 1,
 5,
 4,
 9,
 1,
 7,
 6,
 0,
 4,
 2,
 9,
 4,
 1,
 1,
 5,
 3,
 5,
 7,
 9,
 7,
 8,
 3,
 2,
 7,
 2,
 0,
 4,
 7,
 1,
 6,
 4,
 6,
 1,
 5,
 7,
 3,
 5,
 9,
 4,
 7,
 9,
 6,
 6,
 3,
 3,
 2,
 1,
 4,
 5,
 3,
 7,
 7,
 9,
 5,
 6,
 2,
 6,
 1,
 0,
 9,
 3,
 2,
 9,
 2,
 6,
 7,
 5,
 2,
 3,
 2,
 8,
 3,
 0,
 2,
 7,
 9,
 4,
 0,
 9,
 5,
 1,
 8,
 8,
 5,
 3,
 2,
 9,
 6,
 7,
 0,
 8,
 0,
 7,
 4,
 5,
 8,
 7,
 9,
 7,
 7,
 0,
 5,
 3,
 2,
 1,
 9,
 0,
 6,
 8,
 3,
 6,
 2,
 2,
 9,
 ...]

In [29]:
len(labels)

28000

In [30]:
df2["Label"] = labels
df2

         Label
ImageId
1            2
2            0
3            9
4            9
5            3
...        ...
27996        9
27997        7
27998        3
27999        9
28000        2

[28000 rows x 1 columns]

In [31]:
df2.to_csv("predicted_model2.csv")